* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  align-content: center;
  align-items: space-around;
  background-color: #202830;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}


canvas {
  image-rendering: pixelated;
  position: relative;
}

.pstats {
  font-family: 'Press Start 2P', cursive;
  width: 11.8em;
  height: 1.5em;
  text-align: center;
  margin: 0.1em;
  padding: 0.1em;
  border: 0.1em inset #ffffff;
  background-color: #202830;
  opacity: 0.5;
}

.question-div {
  font-family: 'Press Start 2P', cursive;
  width: 11.8em;
  height: 1.5em;
  text-align: center;
  margin: 0.1em;
  padding: 0.1em;
  border: 0.1em inset #ffffff;
  bottom: 1px;
  background-color: #202830;
  opacity: 0.5;
}
