* {
  margin:0 auto;
  padding:0;
  border:0;
  position: relative;
}

body {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  left: 6px;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: emulogic;
  src: url('emulogic.ttf');
}

.hidden {
  font-family: emulogic;
  visibility: hidden;
  position: absolute;
}

.gameScreen{

  background-image: url("../assets/background2.jpg");
  border: 16px inset #A52A2A;
}

.questionHolder{
  width: 300px;
  height: auto;
  overflow-wrap: anywhere;

  position: relative;

  display:inline-block;
  text-align: center;
  vertical-align: middle;

  margin: 10px;
  padding: 10px;


  background-image: url("../assets/backgroundCSS.jpg");
  border: 20px inset #A52A2A;
}

.custom-canvas{
  image-rendering: pixelated;
  clear: both;

  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  background-image: url("../assets/backgroundCSS.jpg");
  border: 16px inset #A52A2A;
}

